/*
************
*************************
20. Blog
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.sg-blog {
    &-box {
        &-img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            position: relative;
            & img {
                @include transition(.3s);
            }
            &:hover {
                & img {
                    transform: scale(1.1);
                }
            }
            & .sg-blog-box-date-meta {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
        &-date-meta {
            color: var(--clr-common-white);
            background-color: var(--clr-theme-primary);
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            padding: 13px 11px;
            & .count {
                font-size: 20px;
                color: var(--clr-common-white);
                margin-bottom: 0;
            }
            & .label{
                font-size: 14px;
            }
        }
        &-content {
            padding-right: 13px;
            &-meta {
                & a {
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 14px;
                    color: var(--clr-theme-primary);
                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                    & i {
                        margin-right: 5px;
                    }
                }
            }
        }
        &-title {
            font-size: 24px;
            text-transform: inherit;
            margin-bottom: 0;
            line-height: 1.4;
            @media #{$lg} {
                font-size: 22px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
            & a {
                text-decoration: none;
                &:hover {
                    color: var(--clr-theme-primary);
                }
            }
        }
    }
}

// blog style list
.sg-blog {
    &-box {
        &-5 {
            border-radius: 15px;
            overflow: hidden;
            &:hover {
                & .sg-blog-box-img-5 {
                    & img {
                        transform: scale(1.05);
                    }
                }
            }
        }
        &-content-5 {
            border: 1px solid var(--clr-bg-gray-3);
            padding: 50px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding-top: 45px;
            &.has-details {
                padding-bottom: 40px;
            }
            @media #{$xs} {
                padding: 45px 25px;
                padding-top: 30px;
            }
        }
        &-img-5 {
            position: relative;
            overflow: hidden;
            & img {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                transition: all .3s;
            }
            & .sg-blog-box-date-meta {
                position: absolute;
                left: 30px;
                top: 30px;
                @media #{$xs} {
                    left: 20px;
                    top: 20px;
                }
            }
        }
        &-meta-5 {
            & a {
                font-weight: 500;
                font-size: 14px;
                color: var(--clr-theme-primary);
                text-decoration: none;
                display: inline-block;
                margin-right: 25px;
                vertical-align: middle;
                @media #{$xs} {
                    margin-right: 10px;
                }
                & i {
                    margin-right: 7px;
                    display: inline-block;
                }
            }
        }
        &-content {
            &-title-5 {
                font-size: 34px;
                line-height: 1.4;
                margin-bottom: 14px;
                @media #{$lg} {
                    font-size: 30px;
                }
                @media #{$md} {
                    font-size: 30px;
                }
                @media #{$xs} {
                    font-size: 24px;
                }
                @media #{$sm} {
                    font-size: 26px;
                }
                & a {
                    text-decoration: none;
                    &:hover {
                        color: var(--clr-theme-primary);
                    }
                }
            }
            &-desc-5 {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 40px;
                @media #{$xs} {
                    font-size: 16px;
                }
                &.mb-15 {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.sg-load-more-btn-5 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--clr-theme-primary);
    display: inline-block;
    height: 55px;
    border-radius: 12px;
    background: transparent;
    border: 1.5px solid var(--clr-theme-primary);
    line-height: 53px;
    padding: 0 50px;
    &:hover {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
        border-color: transparent;
    }
}
.sg-blog-paginate {
    & a, & span {
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        height: 50px;
        background: var(--clr-bg-gray);
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        margin-right: 7px;
        &:hover {
            color: var(--clr-common-white);
            background-color: var(--clr-theme-primary);
        }
    }
    & span {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
    }
}
// blog details
.sg-blog {
    &-title-5 {
        font-size: 18px;
        color: var(--clr-theme-primary);
        margin-bottom: 0;
        margin-right: 35px;
        @media #{$xs} {
            margin-bottom: 20px;
        }
    }
}
.sg-replay-btn {
    & a {
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
        @media #{$xs} {
            font-size: 16px;
        }
        &:hover {
            color: var(--clr-theme-primary);
        }
        & i {
            color: var(--clr-theme-primary);
            margin-right: 12px;
            vertical-align: middle ;
        }
    }
}
.blog-details-area {
    & .sg-blog-box-content-title-5 {
        @media #{$xs} {
            font-size: 24px;
        }
        @media #{$sm} {
            font-size: 27px;
        }
    }
    & .sg-blog-box-content-5 {
        @media #{$xs} {
            padding: 45px 13px;
        }
    }
}
.children.ml-100 {
    @media #{$xs} {
        margin-left: 0;
    }
}
.blog-details-comments-title {
    font-size: 22px;
    line-height: 32px;
}
.news-area.pb-90.pt-120.news-area-space-style-2 {
    @media #{$md, $xs} {
        padding-bottom: 80px;
    }
}

// ---------------------- home page 3 ------------------

.sg-blog-3-title-wrapper {
    p {
        br {
            @media #{$xs} {
                display: none;
            }
        }
    }
}
.sg-blog-3-style-1 {
    position: relative;
    &:hover {
        .sg-blog-3-style-1-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.sg-blog-3-style-1-img {
    width: 100%;
    height: 470px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    a {
        display: block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 43%, #1c1400 100%);
        top: 0;
        left: 0;
    }
}
.sg-blog-3-style-1-content {
    position: absolute;
    left: 0;
    bottom: 0;
    &:is(.pl-40) {
        padding-left: 25px;
    }
    &:is(.pr-40) {
        padding-right: 25px;
    }
}
.sg-blog-3-date-meta {
    font-family: $unna;
    color: var(--pr-1);
    background-color: var(--white-color);
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px 10px 6px 10px;
    position: absolute;
    left: 20px;
    top: 20px;
    .count {
        font-size: 46px;
        line-height: 44px;
        margin: 0;
        color: var(--pr-1);
    }
    .label{
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        margin: 0;
        text-transform: capitalize;
    }
}
.sg-blog-3-meta-box {
    a {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        display: inline-block;
        font-family: $nunito;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;
        padding-left: 15px;
        color: var(--white-color);
        &:hover {
            color: var(--pr-2);
        }
        &::after {
            position: absolute;
            content: "";
            background-color: var(--white-color);
            width: 4px;
            height: 100%;
            border-radius: 2px;
            left: 0;
            top: 0;
        }
        &:not(:last-child) {
            margin-right: 25px;
            @media #{$xs} {
                margin-right: 10px;
            }
            @media #{$sm} {
                margin-right: 25px;
            }
        }
    }

}
.sg-blog-3-style-1-title {
    font-size: 34px;
    font-weight: 400;
    font-family: $unna;
    line-height: 44px;
    text-transform: capitalize;
    color: var(--white-color);
    &:Hover {
        color: var(--pr-2);
    }
    a {
        text-decoration: none;
    }
}
.sg-blog-3-style-1-subtitle {
    font-size: 16px;
    font-weight: 400;
    font-family: $nunito;
    line-height: 26px;
    margin: 0;
    color: #E9E9E9;
}
.sg-blog-3-style-2 {
    display: flex;
    align-items: center;
    @media #{$xs} {
        flex-wrap: wrap;
    }
    &:Hover {
        .sg-blog-3-style-2-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.sg-blog-3-style-2-img {
    overflow: hidden;
    border-radius: 10px;
    a {
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.sg-blog-3-style-2-content {
    padding: 10px 25px;
    @media #{$xs} {
        padding: 30px 0px 0px 0px;
    }
    .sg-blog-3-meta-box {
        a {
            color: #636363;
            &:hover {
                color: var(--hover-color-1);
            }
            &::after {
                background-color: var(--pr-1);
            }
        }
    }
    .sg-blog-3-style-1-title {
        color: var(--pr-1);
        &:Hover {
            color: var(--pr-2);
        }
    }
    .sg-blog-3-style-1-subtitle {
        color: #636363;
    }
}
.sg-blog-3-style-2-img {
    flex: 0 0 300px;
    height: 220px;
    @media #{$xl} {
        flex: 0 0 200px;
    }
    @media #{$md} {
        flex: 0 0 240px;
    }
    @media #{$xs} {
        flex: 0 0 100%;
        height: 250px;
    }
    a {
        height: 100%;
    }
}
